<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Cloud API Project </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.css')}}"> </link>
    </head>
    <body style="background-image: url({{url_for('static',filename='img/bg.jpg')}}); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; ">
        <br>
        <div class="container">
            <div class="content" align="center">
			 <h1> Text Translation using API </h1>
			<form method="post">
  <div class="form-group">
    <label for="textt">Input Text to translate:</label>
    <input type="text" class="form-control" placeholder="Type your message here..." name="texttospeech" id=text>
  </div>

  <button type="submit" class="btn btn-primary" formaction="/sound">Convert to Audio file</button>
   <button type="submit" class="btn btn-success" formaction="/emotion">Perform Sentiment Analysis</button>
</form>
                                {% if conversion%}
                                    <h4 class="section-heading">{{ conversion }} <a class=content href="{{ url_for('static', filename='audio/speech.mp3') }}" download>Download Converted MP3</a></h4>
                                {% endif %}
                                {% if sentiment%}
                                    <h4> SENTIMENT:  {{ sentiment }} <br> SENTIMENT SCORE: </h4>
                                {% endif %}
                                {% if pos%}
                                    <h4> POSITIVE:  {{ pos }} </h4>
                                {% endif %}
                                {% if neg%}
                                    <h4> NEGATIVE:  {{ neg }} </h4>
                                {% endif %}
                                {% if neu%}
                                    <h4> NEUTRAL:  {{ neu }} </h4>
                                {% endif %}
                                {% if mix%}
                                    <h4> MIXED:  {{ mix }} </h4>
                                {% endif %}
                                {% if trans%}
                                    <h4> TRANSLATED TEXT IS:  {{ trans }} </h4>
                                {% endif %}
            </div>
        </div><br>
    </body>
</html>
